.jumbotron {
  padding: 10px;
  width: 100%;
  background-color: #3E4651;
  color: #ECF0F1;
  border-radius: 0 !important;
}

.brand {
  float: left;
}

.brand h1 {
  font-family: 'Lobster Two', Arial;
}

.brand h4 {
  color: #F7BC05 !important;
  font-family: Helvetica, Arial;
}

.timeBox {
  float: right;
}

.time {
  font-size: 400%;
}

#login {
  display: block;
}

#logout {
  display: none;
}

.table-title {
  background-color: #34495E;
  color: white;
  width: 100%;
}

caption {
  padding: 0;
}

.form {
  display: block;
  border: 1px solid #34495E;
}

.panel-heading {
  background-color: #34495E;
  color: white;
}

h3 {
  margin-left: 1%;
}

.btn {
  background-color: #27AE60;
  color: white;
}
